src/eds-patient-ui/src/main/java/org/endeavourhealth/patientui/framework/config/models/Config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="config" type="config"/>

	<xs:complexType name="webServer">
		<xs:sequence>
			<xs:element name="cookieDomain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="config">
		<xs:sequence>
			<xs:element name="webServer" type="webServer"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
