src/eds-messaging-core/src/main/resources/Credentials.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Credentials">
        <xs:sequence>
            <xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Password" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>