src/eds-messaging-core/src/main/resources/PipelineComponentConfig.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Common.xsd"/>

    <xs:complexType name="ReadMessageEnvelopeConfig"/>

    <xs:complexType name="ValidateSenderConfig"/>

    <xs:complexType name="ValidateMessageTypeConfig"/>

    <xs:complexType name="PostMessageToLogConfig"/>

    <xs:complexType name="PostMessageToQueueConfig">
        <xs:sequence>
            <xs:element name="Credentials" type="Credentials" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Nodes" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Exchange" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="RoutingKeys" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReturnResponseAcknowledgementConfig"/>

    <xs:complexType name="MessageTransformConfig"/>

    <xs:complexType name="PostToEventLogConfig"/>

    <xs:complexType name="RunDataDistributionProtocolsConfig"/>

    <xs:complexType name="PostToSubscriberWebServiceConfig"/>

    <xs:complexType name="PostToSenderConfig"/>
</xs:schema>