src/eds-messaging-core/src/main/resources/PostMessageToQueue.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Credentials.xsd"/>
    <xs:complexType name="PostMessageToQueue">
        <xs:sequence>
            <xs:element name="Credentials" type="Credentials" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Nodes" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Exchange" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="RoutingKeys" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>