src/eds-core/src/main/resources/EnterpriseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="enterpriseData" type="enterpriseData"/>

    <xs:complexType name="enterpriseData">
        <xs:sequence>
            <xs:element name="organization" type="organization" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="practitioner" type="practitioner" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="schedule" type="schedule" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="patient" type="patient" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="appointment" type="appointment" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="encounter" type="encounter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="condition" type="condition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="procedure" type="procedure" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referral_request" type="referral_request" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="procedure_request" type="procedure_request" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="observation" type="observation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="medication_statement" type="medication_statement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="medication_order" type="medication_order" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="immunization" type="immunization" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="family_member_history" type="family_member_history" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allergy_intolerance" type="allergy_intolerance" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="diagnostic_order" type="diagnostic_order" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="diagnostic_report" type="diagnostic_report" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="baseRecord">
        <xs:sequence>
            <xs:element name="save_mode" type="save_mode"/>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="save_mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="insert"/>
            <xs:enumeration value="update"/>
            <xs:enumeration value="delete"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="organization">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="ods_code" type="xs:string" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="type_code" type="xs:string" minOccurs="0"/>
                    <xs:element name="type_desc" type="xs:string" minOccurs="0"/>
                    <xs:element name="postcode" type="xs:string" minOccurs="0"/>
                    <xs:element name="parent_organization_id" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="practitioner">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="role_code" type="xs:string" minOccurs="0"/>
                    <xs:element name="role_desc" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="schedule">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="start_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                    <xs:element name="location" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="allergy_intolerance">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="appointment">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="schedule_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="start_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="planned_duration" type="xs:int" minOccurs="0"/>
                    <xs:element name="actual_duration" type="xs:int" minOccurs="0"/>
                    <xs:element name="appointment_status_id" type="xs:int"/>
                    <xs:element name="patient_wait" type="xs:int" minOccurs="0"/>
                    <xs:element name="patient_delay" type="xs:int" minOccurs="0"/>
                    <xs:element name="sent_in" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="left" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="condition">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="is_review" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="diagnostic_order">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="diagnostic_report">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="encounter">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="appointment_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="family_member_history">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="immunization">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="medication_order">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="dmd_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="dose" type="xs:string" minOccurs="0"/>
                    <xs:element name="quantity_value" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="quantity_unit" type="xs:string" minOccurs="0"/>
                    <xs:element name="duration_days" type="xs:int" minOccurs="0"/>
                    <xs:element name="estimated_cost" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="medication_statement_id" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="medication_statement">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="dmd_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="is_active" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="cancellation_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="dose" type="xs:string" minOccurs="0"/>
                    <xs:element name="quantity_value" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="quantity_unit" type="xs:string" minOccurs="0"/>
                    <xs:element name="medication_statement_authorisation_type_id" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="observation">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="value" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="units" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="patient">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="date_of_birth" type="xs:dateTime"/>
                    <xs:element name="year_of_death" type="xs:int" minOccurs="0"/>
                    <xs:element name="patient_gender_id" type="xs:int"/>
                    <xs:element name="date_registered" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_registered_end" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="usual_gp_practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="registration_type_code" type="xs:string" minOccurs="0"/>
                    <xs:element name="registration_type_desc" type="xs:string" minOccurs="0"/>
                    <xs:element name="pseudo_id" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="procedure">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="procedure_request">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="procedure_request_status_id" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="referral_request">
        <xs:complexContent>
            <xs:extension base="baseRecord">
                <xs:sequence>
                    <xs:element name="organization_id" type="xs:int"/>
                    <xs:element name="patient_id" type="xs:int"/>
                    <xs:element name="encounter_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="practitioner_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="clinical_effective_date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="date_precision_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="snomed_concept_id" type="xs:long" minOccurs="0"/>
                    <xs:element name="recipient_organization_id" type="xs:int"/>
                    <xs:element name="priority" type="xs:string" minOccurs="0"/>
                    <xs:element name="service_requested" type="xs:string" minOccurs="0"/>
                    <xs:element name="mode" type="xs:string" minOccurs="0"/>
                    <xs:element name="outgoing_referral" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>